# create and drop tables and sequences, loads import.sql
spring.jpa.hibernate.ddl-auto: create
spring.jpa.database-platform: org.hibernate.dialect.Oracle12cDialect
#Basic Spring Boot Config for Oracle
spring.datasource.url: jdbc:oracle:thin:@localhost:32118:xe
spring.datasource.username: system
spring.datasource.password: Oracle18
spring.datasource.driver-class-name: oracle.jdbc.OracleDriver
server.port: 8090
#hibernate config

logging.level.org.hibernate.SQL: DEBUG
#logging.level.org.hibernate.type: TRACE

logging:
  level:
    org.zalando.logbook.Logbook: TRACE
logbook:
  format:
    style: http
  obfuscate:
    headers:
      - Authorization
      - Cookie